<script lang="ts">
import { defineComponent } from 'vue'
import TodoList from '../components/TodoList.vue'
import { FilteredMode, Todo } from '../types/todo'
import AddTodoInput from '../components/AddTodoInput.vue'
import FilterTodoAction from '../components/FilterTodoAction.vue'

type PageTodosState = {
  filteredMode: FilteredMode
  inputTodo: string
  editingId: number | null
  todoList: Array<Todo>
}

export default defineComponent({
  name: 'PageTodos',
  components: { FilterTodoAction, AddTodoInput, TodoList },
  data(): PageTodosState {
    return {
      filteredMode: 'all',
      editingId: null,
      inputTodo: '',
      todoList: [
        { id: 1234567812345, description: 'Eat cat', completed: false },
        { id: 1234567912345, description: 'Eat dog', completed: false },
        { id: 1234568012345, description: 'Eat duck', completed: false }
      ]
    }
  },
  methods: {
    handleShowInputUpdate(editingId: number) {
      console.log('hello')
      this.editingId = editingId
    },
    handleTodoCompleted(ev: InputEvent, todoId: number) {
      const idx = this.todoList.findIndex((todo) => todoId === todo.id)
      this.todoList[idx].completed = (<HTMLInputElement>ev.target).checked
    },
    handleAddTodo(ev: InputEvent) {
      const newTodo = (<HTMLInputElement>ev.target).value
      this.todoList.push({
        id: Date.now(),
        description: newTodo,
        completed: false
      })
      this.inputTodo = ''
    },
    handleUpdateTodo(ev: InputEvent, todoId: number) {
      const idx = this.todoList.findIndex((todo) => todoId === todo.id)
      this.todoList[idx].description = (<HTMLInputElement>ev.target).value
    },
    handleRemoveTodo(todoId: number) {
      const idx = this.todoList.findIndex((todo) => todoId === todo.id)
      this.todoList.splice(idx, 1)
    }
  },
  computed: {
    todoListLength() {
      return this.todoList.length
    },
    filteredTodos() {
      if (this.filteredMode === 'all') return this.todoList
      else if (this.filteredMode === 'active')
        return this.todoList.filter((todo) => !todo.completed)
      else if (this.filteredMode === 'completed')
        return (this.todoList).filter((todo) => todo.completed)
      else return []
    }
  }
})
</script>

<template>
  <div class="page-todos flex justify-center mx-auto">
    <div
      class="wrap w-full px-6 py-4 border border-gray-300 border-solid rounded-lg"
    >
      <header class="mb-3">
        <h1 class="text-2xl font-bold mb-1">Todos app</h1>
        <AddTodoInput :inputTodo="inputTodo" @on-add-todo="handleAddTodo" />
      </header>

      <section>
        <TodoList
          :editingId="editingId"
          :todoList="filteredTodos"
          @on-show-input-update="handleShowInputUpdate"
          @on-todo-completed="handleTodoCompleted"
          @on-update-todo="handleUpdateTodo"
          @on-remove-todo="handleRemoveTodo"
        />
      </section>

      <footer>
        <FilterTodoAction
          @on-no-filter="filteredMode = 'all'"
          @on-filter-active="filteredMode = 'active'"
          @on-filter-completed="filteredMode = 'completed'"
          :todoListLength="todoListLength"
          :filteredMode="filteredMode"
        />
      </footer>
    </div>
  </div>
</template>

<style lang="postcss">
.page-todos {
  min-width: 230px;
  max-width: 550px;
}
</style>
