<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'AddTodoInput',
  props: {
    inputTodo: String
  }
})
</script>

<template>
  <input class="h-12 w-full" :value="inputTodo" @keyup.enter="$emit('on-add-todo', $event)" />
</template>

<style lang="postcss"></style>
