<script lang="ts">
import { defineComponent } from 'vue'
import { FilteredMode } from '../types/todo'

export default defineComponent({
  name: 'FilterTodoAction',
  props: {
    todoListLength: Number,
    filteredMode: Object as FilteredMode
  }
})
</script>

<template>
  <div class="filter-todo-action flex justify-between px-1 pt-2">
    <div class="footer-item flex-1 text-center">
      {{ todoListLength }} item{{`${todoListLength === 1 ? '' :'s'}`}} left
    </div>
    <div class="footer-item flex justify-around px-1">
            <button @click="$emit('on-no-filter')">All</button>
            <button @click="$emit('on-filter-active')">Active</button>
            <button @click="$emit('on-filter-completed')">Completed</button>
    </div>
    <div class="footer-item flex-1 flex justify-center items-center">
      <button class="bg-gray-200 p-1 rounded-sm">
        Clear completed ({{ todoListLength }})
      </button>
    </div>
  </div>
</template>

<style lang="postcss">
.filter-todo-action {
  .footer-item {
    flex-grow: 2;
    &:nth-child(2) {
      flex-grow: 3;
    }
    &:last-child {
      font-size: 10px;
    }
  }
}
</style>
