<script lang="ts">
import { defineComponent } from 'vue'
import { Todo } from '../types/todo'
import TodoItem from './TodoItem.vue'

export default defineComponent({
  name: 'TodoList',
  components: { TodoItem },
  props: {
    editingId: Number,
    todoList: Object as Array<Todo>
  },
  data() {
    return {}
  },
  methods: {
    handleShowInputUpdate(editingId: number) {
      this.$emit('on-show-input-update', editingId)
    },
    handleTodoCompleted(ev: InputEvent, todoId: number) {
      this.$emit('on-todo-completed', ev, todoId)
    },
    handleUpdateTodo(ev: InputEvent, todoId: number) {
      this.$emit('on-update-todo', ev, todoId)
    },
    handleRemoveTodo(todoId: number) {
      this.$emit('on-remove-todo', todoId)
    }
  }
})
</script>

<template>
  <ul>
    <TodoItem
      v-for="todo in todoList"
      :editingId="editingId"
      :todo="todo"
      @on-show-input-update="handleShowInputUpdate"
      @on-todo-completed="handleTodoCompleted"
      @on-update-todo="handleUpdateTodo"
      @on-remove-todo="handleRemoveTodo"
    />
  </ul>
</template>

<style lang="postcss"></style>
