<script lang="ts">
import { defineComponent } from 'vue'
import { Todo } from '../types/todo'

export default defineComponent({
  name: 'TodoItem',
  props: {
    todo: Object as Todo,
    editingId: Number
  },
  methods: {
    handleShowInputUpdate() {
      this.$emit('on-show-input-update', this.todo.id)
    }
  }
})
</script>

<template>
  <li class="h-12 text-lg" @dblclick="handleShowInputUpdate">
    <div class="flex justify-between items-center gap-4 h-full">
      <div class="flex-1 flex items-center gap-4">
        <input
          type="checkbox"
          class="h-8 w-8"
          @click="$emit('on-todo-completed', $event, todo.id)"
        />
        <input
          v-if="editingId === todo.id"
          type="text"
          class="flex-1"
          :value="todo.description"
          @keyup.enter="$emit('on-update-todo', $event, todo.id)"
        />
        <span v-else class="h-full">{{ todo.description }}</span>
      </div>
      <button
        class="border border-solid border-red-600 bg-red-500 w-8 h-8 rounded-full"
        @click="$emit('on-remove-todo', todo.id)"
      >
        ❌
      </button>
    </div>
  </li>
</template>

<style lang="postcss"></style>
