@tailwind base;
@tailwind utilities;
@tailwind components;
@tailwind screens;

:root {
  --header-height: 64px;
  --footer-height: 50px;
}

* {
  box-sizing: border-box;
}

input {
  @apply px-4 py-2 border border-gray-300 border-solid rounded-md;
}

input, button {
  @apply focus:outline-none;
}
